// breakpoints
$sm: 375px;
$md: 768px;
$lg: 1260px;

@mixin media($class) {
  @if $class == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: ($md)) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: ($lg)) {
      @content;
    }
  } @else {
    @warn 'Breakpoint mixin supports: sm, md, lg';
  }
}
